.caixa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caixa a {
  text-decoration: none;
  color: green;
}
.caixa a:hover {
  background-color: green;
  color: white;
}

.texto {
  color: purple;
  font-size: 1em;
}
